
<marquee><h1>Hello, Rails it's welcome page  !</h1></marquee>
<button><%= link_to 'All Articles recode ', controller: 'articles'  %></button>
<br>
<img src= "/assets/wallpaperflare.com_wallpaper (5).jpg" alt="smiley face">
