th ,tr,td,p { 
	color: black; 

}
table, th , td {
	background: transparent;
	border: 1px solid white;
 
}
img{
	width: 40%;
	height: 40%;
}
table {
	width:100%;
    padding: 100px;

    background-image: url(Ferrari.jpeg); /* Replace 'your-image.jpg' with your actual image file path */
    background-size: cover; /* Adjust this as needed */
    background-repeat: no-repeat;

}
button{
	background: white;

}

/* styles.css */
.background-form {
    background-image: url('Baymax.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    width: 30%;
	height: 25%;

    color: white; /* Adjust text color for better visibility */
}

.background-form h2 {
    color: white; /* Adjust heading color */
}

.background-form ul {
    list-style-type: none;
    padding-left: 0;
}

.background-form ul li {
    margin-bottom: 10px;
}

/* Additional styling for form fields */
.background-form input, 
.background-form textarea {
    /* Your styling for form fields */
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust this for desired vertical centering */
}
/* index welcom column  */
.custom-image {
    width: 100%; /* Set the desired width */
    height: auto; /* Maintain aspect ratio by auto-setting height */
}

